 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }  

.text__color{
    color: red;
    text-decoration: none;
}
li, i {
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
}
i {
    color: red;
    
}
h1{
    text-align: center;
    margin: 10px;
    padding-bottom: 10px;
    color: red;
}
a{
    text-decoration: none;
}